@import url("https://fonts.googleapis.com/css?family=Bitter:400,700");
html, body {
  margin: 0 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bitter", serif;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(0deg, #FFFFFF 0%, #BBE6F5 100%);
  background-repeat: no-repeat; }

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.05em; }

hr {
  border-color: white;
  background-color: white; }

button {
  padding: 1.7em 4em;
  border: none;
  border-radius: 2em;
  color: white;
  font-weight: 700;
  font-size: 1em; }
  button svg {
    fill: white;
    height: 1.6em;
    position: relative;
    top: 0.5em;
    margin-right: 0.5em; }
  button:focus {
    outline: none; }

.button-blue {
  background: #00aeef; }
  .button-blue:focus {
    background: #006489; }

.button-green {
  background: #8cc63f; }
  .button-green:focus {
    background: #567b24; }

.button-pink {
  background: #ec008c; }
  .button-pink:focus {
    background: #86004f; }

.button-yellow {
  background: #ffde17; }
  .button-yellow:focus {
    background: #b09700; }

.button-grey {
  background: #a0a0a0; }
  .button-grey:focus {
    background: #6d6d6d; }

.login-choice {
  display: none; }
  .login-choice h1 {
    font-size: 2em;
    margin-bottom: 1.5em; }
  .login-choice div {
    margin-bottom: 4em; }
    .login-choice div button {
      border-radius: 100%;
      padding: 4em;
      margin-right: 1em; }
  .login-choice input {
    margin-top: 1em;
    width: 12em;
    padding: 1em;
    height: 2em;
    border-radius: 2em;
    outline: none;
    border: none;
    background-color: #ededed;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 2em auto; }

.preplay-wrap button {
  flex: 2;
  font-size: 2em; }
.preplay-wrap .leaderboard-login {
  background-color: #ec008c;
  color: white;
  height: 60%;
  width: 20%;
  border-radius: 2em;
  position: absolute;
  top: 1em;
  left: 1em; }
  .preplay-wrap .leaderboard-login ul {
    list-style: none;
    padding: 0;
    text-align: left; }
    .preplay-wrap .leaderboard-login ul li {
      margin: 1em; }

progress {
  width: 100%;
  height: 2em;
  border: none;
  background-color: #00aeef;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  top: 0; }

progress::-webkit-progress-bar {
  background-color: #bbe6f5; }

progress::-webkit-progress-value {
  border-radius: 2px;
  background-color: #ec008c; }

#placeQuestions {
  position: relative;
  width: 100vw;
  height: 100vh; }
  #placeQuestions .question-wrap {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    padding-top: 50px;
    left: 0;
    transition: 1s ease-in-out; }
    #placeQuestions .question-wrap .question-window {
      height: 8em;
      justify-content: center;
      align-items: center; }
      #placeQuestions .question-wrap .question-window h1 {
        margin-top: 3%;
        font-size: 2em;
        padding: 0 3em; }
    #placeQuestions .question-wrap .question-option {
      flex-wrap: wrap;
      padding: 2em 5em;
      margin-top: 5em; }
      #placeQuestions .question-wrap .question-option button {
        width: 20em;
        padding: 0;
        height: 6em;
        margin: 1em;
        font-size: 1.4em; }
