@import url("https://fonts.googleapis.com/css?family=Bitter:400,700");
html, body {
  margin: 0 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Bitter", serif;
}

button {
  padding: 1.7em 4em;
  border: none;
  border-radius: 2em;
  color: white;
  font-weight: 700;
  font-size: 1em;
}
button svg {
  fill: white;
  height: 1.6em;
  position: relative;
  top: 0.5em;
  margin-right: 0.5em;
}
button:focus {
  outline: none;
}

.login-wrap button {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #00aeef;
}
.login-wrap button:focus {
  background: #006489;
}
